<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 40%">Title</th>
        <th style="width: 40%">Poster</th>
        <th style="width: 20%"></th>
      </tr>
    </thead>
 
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= image_tag movie.poster, size: "50x50" %></td>
          <td><%= button_to "View More", movie_path(movie.title), method: :get %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate %>
</div>
