<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Poster</th>
    </tr>
  </thead>
 
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= image_tag movie.poster, size: "50x50" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
